@font-face {
    font-family: 'magic_school_tworegular';
    src: url('fonts/magicschooltwo-webfont.woff2') format('woff2'),
         url('fonts/magicschooltwo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: black;
}

header {
	height: 100px;
}

/***************************************
 *************   NAV MAIN  *************
 ***************************************/ 

.logo {
	display: inline-block;
	margin-left: 15px;
}

.nav-main {
	float: right;
}

.nav-main ul {
	margin-top: 25px;
	padding: 10px 25px;
}

.nav-main ul li {
	display: inline;
	padding: 0 15px;
}

.nav-main ul li a {
	color: darkviolet;
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
}



.nav-main ul li:hover {
	background: #ae27e8;
  background-image: -webkit-linear-gradient(top, #ae27e8, #520073);
  background-image: -moz-linear-gradient(top, #ae27e8, #520073);
  background-image: -ms-linear-gradient(top, #ae27e8, #520073);
  background-image: -o-linear-gradient(top, #ae27e8, #520073);
  background-image: linear-gradient(to bottom, #ae27e8, #520073);
  text-decoration: none;
	
	-webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
	
  -webkit-box-shadow: 3px 3px 3px violet;
  -moz-box-shadow: 3px 3px 3px #ab83ab;
  box-shadow: 3px 3px 3px #ab83ab;
  
	font-family: Arial;
  color: #FFF;
  font-size: 20px;
  padding: 5px;
  border: solid #4b2657 1px;
  text-decoration: none;	
}

.btn {
  background: #b64ce0;
  background: -webkit-linear-gradient(top, rgba(195, 52, 217, 0.5), rgba(143, 52, 217, 0.5));
  background: -moz-linear-gradient(top, rgba(195, 52, 217, 0.75), rgba(143, 52, 217, 0.75));
  background: -ms-linear-gradient(top, rgba(195, 52 217, 0.75) rgba(143, 52, 217, 0.75));
  background: -o-linear-gradient(top, rgba(195, 52, 217, 0.75), rgba(143, 52, 217, 0.75));
  background: linear-gradient(top, rgba(195, 52, 217, 0.0), rgba(143, 52, 217, 0.0));
  
	-webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
	
  -webkit-box-shadow: 3px 3px 3px violet;
  -moz-box-shadow: 3px 3px 3px #ab83ab;
  box-shadow: 3px 3px 3px #ab83ab;
  
	font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #4b2657 1px;
  text-decoration: none;	
}

.hidden {
	display: none;
}

/***************************************
 *************   LANDING   *************
 ***************************************/ 

.video-fullscreen-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.video-fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Expand height & width to cover screen, then center */
@media (min-aspect-ratio: 16/9) {
  .video-fullscreen {
		height: 300%;
		top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .video-fullscreen {
		width: 300%;
		left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/videoframe.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}

#landing {
	height: 500px;
	text-align: center;
}

#landing h1 {
	text-align: center;
}

.btn {
  background: #b64ce0;
  background: -webkit-linear-gradient(top, rgba(195, 52, 217, 0.5), rgba(143, 52, 217, 0.5));
  background: -moz-linear-gradient(top, rgba(195, 52, 217, 0.75), rgba(143, 52, 217, 0.75));
  background: -ms-linear-gradient(top, rgba(195, 52 217, 0.75) rgba(143, 52, 217, 0.75));
  background: -o-linear-gradient(top, rgba(195, 52, 217, 0.75), rgba(143, 52, 217, 0.75));
  background: linear-gradient(top, rgba(195, 52, 217, 0.0), rgba(143, 52, 217, 0.0));
  
	-webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
	
  -webkit-box-shadow: 3px 3px 3px violet;
  -moz-box-shadow: 3px 3px 3px #ab83ab;
  box-shadow: 3px 3px 3px #ab83ab;
  
	font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #4b2657 1px;
  text-decoration: none;	
}


.btn:hover {
  background: #ae27e8;
  background-image: -webkit-linear-gradient(top, #ae27e8, #520073);
  background-image: -moz-linear-gradient(top, #ae27e8, #520073);
  background-image: -ms-linear-gradient(top, #ae27e8, #520073);
  background-image: -o-linear-gradient(top, #ae27e8, #520073);
  background-image: linear-gradient(to bottom, #ae27e8, #520073);
  text-decoration: none;
}
/***************************************
 ***********   LOGIN FORM   ************
 ***************************************/ 

#tabs li {
	list-style: none;
	display: inline;
	padding: 15px;
	background-color: aqua;
}

.login {
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.container-login {
	margin: 15% auto;
	max-width: 400px;
	padding: 15px;
	border: 1px solid gray;
	background-color: #EEE;
}

.login .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

.login .container-image {
	width: 100px;
	margin: 0 auto;
}

.login img {
	width: 100px;
}

.login label {
	font-weight: 600;
}

.login label,
.login input {
	margin-top: 10px;
	margin-bottom: 10px;
}

.login input {
    width: 100%;
    padding: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login input[type=checkbox] {
	width: auto;
}

/***************************************
 ************   SCOREBOARD  ************
 ***************************************/

.scoreboard {
	display: table;
	height: 60px;
	width: 100%;
}

.scoreboard-left, 
.scoreboard-right {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	line-height: 2em;
}

/***************************************
 *************   DASHBOARD  ************
 ***************************************/

#dashboard {
	background-color: black;
}

#dashboard > * {
	color: darkviolet;
}

.table {
	width: 25%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	border: 3px red solid;
}

.table .thead {
	display: table-header-group;
	background-color: gray;
}

.table .th {
	display: table-cell;
	padding: 10px;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
}

.table .tr {
	display: table-row;
}

.table .td {
	display: table-cell;
	padding: 10px;
	font-size: 18px;
	font-weight: bold;
}

.btn-container {
	margin-top: 50px;
	text-align: center;
}

#start {
	font-size: 18px;
	padding: 5px;
	border-radius: 8px;
}

#start:hover {
	background-color: violet;
}

/***************************************
 ***************   QUIZ  ***************
 ***************************************/

.question {
	width: 700px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}
