@import url("https://fonts.googleapis.com/css?family=Merienda+One|Merienda:700|Open+Sans|Roboto");
@font-face {
  font-family: 'wizard-magic';
  src: url("../../fonts/wizard-magic.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'witch-magic';
  src: url("../../fonts/witch-magic.ttf");
  font-weight: normal;
  font-style: normal; }
html,
body {
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  background: #DDD;
  font-size: 1.5; }

header {
  background-color: #333; }

#index header {
  background-color: transparent; }

body > * {
  font-family: 'Roboto', sans-serif; }

.hidden {
  display: none; }

.btn {
  border-radius: 10px;
  border: solid #4b2657 1px;
  box-shadow: 2px 2px 4px #333;
  color: #FFF;
  font-size: 1.5em;
  text-decoration: none;
  padding: 5px 15px; }

.btn a {
  color: #FFF;
  text-decoration: none; }

.btn {
  background: #b64ce0;
  background: -webkit-linear-gradient(top, #B905D2, #62278d);
  background: -moz-linear-gradient(top, #B905D2, #62278d);
  background: -ms-linear-gradient(top, #B905D2, #62278d);
  background: -o-linear-gradient(top, #B905D2, #62278d);
  background: linear-gradient(to bottom, #B905D2, #62278d); }

.btn:hover {
  box-shadow: 2px 2px 4px #4B05B4;
  color: #DDD; }

#contribute label,
#contact label,
#login label {
  font-weight: 600; }
#contribute label,
#contribute input,
#contribute select,
#contact label,
#contact input,
#contact select,
#login label,
#login input,
#login select {
  margin-top: 10px;
  margin-bottom: 10px; }
#contribute input,
#contribute select,
#contact input,
#contact select,
#login input,
#login select {
  width: 100%;
  padding: 10px;
  display: inline-block;
  border: 1px solid #B905D2;
  box-sizing: border-box; }

/*
 * Navigation
 */
#nav-logo {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0; }

#nav-logo img {
  width: 156px;
  padding-left: 15px; }

#js-nav-menu {
  z-index: 10;
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  background: #62278d;
  background: -webkit-linear-gradient(#62278d, #333);
  background: -o-linear-gradient(#62278d, #333);
  background: -moz-linear-gradient(#62278d, #333);
  background: linear-gradient(#62278d, #333); }

#js-nav-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 10; }

#js-nav-btn button {
  background-color: transparent;
  border: 1px solid #B905D2;
  border-radius: 4px;
  color: #B905D2;
  font-size: 1.5em; }

nav#js-nav-menu ul {
  width: 100%;
  height: 100%;
  list-style: none;
  margin: 55px 0 0 0;
  padding: 0; }

nav#js-nav-menu ul li {
  display: block;
  width: 100%;
  box-sizing: border-box;
  vertical-align: middle;
  border-bottom: 1px solid #B905D2; }

nav#js-nav-menu ul li a {
  display: block;
  padding: 15px 25px;
  color: #FFF;
  text-decoration: none;
  font-size: 28px;
  letter-spacing: 1px; }

nav#js-nav-menu ul li a:hover {
  background-color: #B905D2; }

nav#js-nav-menu span.fa {
  width: 30px; }

@media all and (min-width: 768px) {
  #nav-logo {
    position: static;
    display: inline-block; }

  nav#js-nav-menu {
    position: static;
    display: inline-block;
    height: 72px;
    width: auto;
    float: right;
    background: transparent; }

  nav#js-nav-menu ul {
    width: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0; }

  nav#js-nav-menu ul li {
    display: inline-block;
    width: auto;
    box-sizing: border-box;
    vertical-align: none;
    border-bottom: none; }

  nav#js-nav-menu ul li a {
    display: block;
    padding: 25px 25px;
    color: #FFF;
    text-decoration: none;
    font-size: 18px; }

  #landing nav#js-nav-menu ul li a {
    font-size: 18px;
    color: #FFF;
    font-weight: bold; }

  #landing nav#js-nav-menu ul li a:hover {
    color: #FFF;
    font-weight: bold; }

  nav#js-nav-menu ul li a:hover {
    color: #FFF;
    background-color: #62278d; }

  nav#js-nav-menu span.fa {
    display: none; } }
/***************************************
 ***********   LOGIN FORM   ************
 ***************************************/
#login {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  font-family: 'Merienda One', cursive; }

.container-login {
  height: 100%;
  background-color: #DDD; }

#tabs ul {
  display: table;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none; }
#tabs li {
  display: table-cell;
  width: 50%;
  list-style: none;
  text-align: center;
  background-color: #B905D2;
  color: #FFF; }
#tabs li:hover {
  background-color: #62278d;
  color: #FFF; }
#tabs a {
  display: block;
  padding: 15px 0;
  color: #FFF;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px; }
#tabs .active {
  background-color: #DDD;
  color: #62278d; }
#tabs .active:hover {
  background-color: #62278d;
  color: #FFF; }
#tabs .container-input {
  padding: 15px; }
#tabs select,
#tabs .login select#gender {
  color: #B905D2; }
#tabs .login input[type=checkbox] {
  width: auto; }

@media only screen and (min-width: 768px) {
  #login {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.75); }

  .container-login {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 475px;
    max-width: 400px; } }
main {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #62278d; }

main h1 {
  margin: 0; }

.splash {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0; }

.splash-overlay {
  height: 100%;
  margin: 0;
  padding: 0; }

.splash-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  /* IE 9 */
  -webkit-transform: translate(-50%, -50%);
  /* Safari */
  transform: translate(-50%, -50%);
  width: auto;
  text-align: center;
  font-family: "Merienda One", cursive;
  letter-spacing: 3px;
  color: #000;
  font-size: 3.5em;
  text-shadow: -2px -2px 4px #62278d, 2px 2px 4px #B905D2; }

.splash-content span {
  display: block; }

.content {
  padding: 15px;
  color: #62278d; }

.textarea {
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
  font-family: sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px; }

@media only screen and (min-width: 768px) {
  .splash {
    height: calc(100% - 300px); }

  .introduction {
    height: 200px;
    padding: 14px;
    background-color: #333;
    color: #FFF; }

  .introduction h1 {
    font-family: 'Merienda One', cursive;
    text-align: center; } }
/*********************************
 ***********   START   ***********
 *********************************/
#start .splash {
  background: url("../images/castle-knight.jpg") no-repeat top center;
  background-size: cover; }
  #start .splash .splash-content {
    color: #170019; }
  @media only screen and (max-width: 749px) and (orientation: landscape) {
    #start .splash .splash-content {
      left: 10%;
      -ms-transform: translate(-10%, -50%);
      /* IE 9 */
      -webkit-transform: translate(-10%, -50%);
      /* Safari */
      transform: translate(-10%, -50%);
      text-align: left; }
    #start .splash .sc-2 {
      padding-left: 0.70em; } }
  @media only screen and (min-width: 450px) and (max-width: 1024px) and (orientation: portrait) {
    #start .splash .splash-content {
      left: 10%;
      -ms-transform: translate(-10%, -50%);
      /* IE 9 */
      -webkit-transform: translate(-10%, -50%);
      /* Safari */
      transform: translate(-10%, -50%);
      text-align: left;
      font-size: 4.5em; }
    #start .splash .sc-2 {
      padding-left: 0.70em; } }
  @media only screen and (min-width: 750px) and (orientation: landscape) {
    #start .splash .splash-content {
      top: 35%;
      left: 12%;
      -ms-transform: translate(-12%, -35%);
      /* IE 9 */
      -webkit-transform: translate(-12%, -35%);
      /* Safari */
      transform: translate(-12%, -35%);
      text-align: left;
      font-size: 6em; }
    #start .splash .sc-2 {
      padding-left: 0.70em; } }

/*********************************
 ***********   ABOUT   ***********
 *********************************/
#about .splash {
  background: url("../images/lighted-floor.jpg") no-repeat center center;
  background-size: cover; }
  #about .splash .splash-content {
    text-shadow: -2px -2px 4px #C1DD4D, 2px 2px 4px #6FD800; }
  @media only screen and (min-width: 768px) {
    #about .splash .splash-content {
      font-size: 4.5em; } }

/*********************************
 **********   CONTACT   **********
 *********************************/
#contact .splash {
  background: url("../images/magical-forest.jpg") no-repeat center center;
  background-size: cover; }
  #contact .splash .splash-content {
    text-shadow: -2px -2px 4px #C1DD4D, 2px 2px 4px #6FD800; }
  @media only screen and (min-width: 768px) {
    #contact .splash .splash-content {
      font-size: 4.5em; } }
  @media only screen and (min-width: 960px) and (orientation: landscape) {
    #contact .splash .splash-content {
      top: 35%;
      left: 12%;
      -ms-transform: translate(-12%, -35%);
      /* IE 9 */
      -webkit-transform: translate(-12%, -35%);
      /* Safari */
      transform: translate(-12%, -35%);
      text-align: left;
      font-size: 5em; }
    #contact .splash .sc-2 {
      padding-left: 2em; }
    #contact .splash .sc-3 {
      padding-left: 0.75em; } }

/*********************************
 ********   CONTRIBUTE   *********
 *********************************/
#contribute .splash {
  background: url("../images/witch.jpg") no-repeat center center;
  background-size: cover; }
  #contribute .splash .splash-content {
    top: auto;
    right: auto;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
    font-size: 3em; }
  @media only screen and (max-width: 730px) and (orientation: landscape) {
    #contribute .splash .splash-content {
      top: 50%;
      left: 3%;
      right: auto;
      bottom: auto;
      -ms-transform: translate(-3%, -50%);
      /* IE 9 */
      -webkit-transform: translate(-3%, -50%);
      /* Safari */
      transform: translate(-3%, -50%);
      text-align: left; }
    #contribute .splash .sc-2 {
      padding-left: 1.5em; }
    #contribute .splash .sc-3 {
      padding-left: 1em; } }
  @media only screen and (min-width: 731px) and (orientation: landscape) {
    #contribute .splash .splash-content {
      top: 50%;
      left: auto;
      right: 3%;
      bottom: auto;
      -ms-transform: translate(-3%, -50%);
      /* IE 9 */
      -webkit-transform: translate(-3%, -50%);
      /* Safari */
      transform: translate(-3%, -50%);
      text-align: right; }
    #contribute .splash .sc-1 {
      padding-right: 2.5em; }
    #contribute .splash .sc-2 {
      padding-right: 3em; } }
  @media only screen and (min-width: 960px) and (max-width: 1199px) {
    #contribute .splash .splash-content {
      font-size: 4em; } }
  @media only screen and (min-width: 1200px) {
    #contribute .splash .splash-content {
      font-size: 5em; } }

@keyframes ls-1 {
  0% {
    color: #000; }
  50% {
    color: #DDD; }
  100% {
    color: #000; } }
@keyframes ls-2 {
  0% {
    color: #000; }
  50% {
    color: #DDD; }
  100% {
    color: #000; } }
@keyframes ls-3 {
  0% {
    color: #000; }
  50% {
    color: #DDD; }
  100% {
    color: #000; } }
#ls-1 {
  animation-name: ls-1;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-delay: 6s;
  animation-fill-mode: forwards; }

#ls-2 {
  animation-name: ls-2;
  animation-duration: 11s;
  animation-timing-function: linear;
  animation-delay: 4s;
  animation-fill-mode: forwards; }

#ls-3 {
  animation-name: ls-3;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-fill-mode: forwards; }

.video {
  display: none; }

#index main {
  background: url("../images/magicbook.png") center center/cover no-repeat; }
#index #landing-splash {
  position: absolute;
  top: 30%;
  transform: translateY(-30%);
  margin: 0;
  padding: 0;
  width: 100%;
  color: #000;
  text-align: center; }
  #index #landing-splash span {
    display: block; }
  #index #landing-splash .ls {
    text-shadow: -2px -2px 4px #62278d, 2px 2px 4px #B905D2;
    font-family: "Merienda One", cursive; }
  #index #landing-splash #ls-1 {
    font-size: 1.75em;
    padding-bottom: 0.35em; }
  #index #landing-splash #ls-2 {
    font-size: 2em; }
  #index #landing-splash #ls-3 {
    font-size: 4em; }
  @media only screen and (min-width: 400px) and (max-width: 600px) {
    #index #landing-splash #ls-1 {
      font-size: 2.5em; }
    #index #landing-splash #ls-2 {
      font-size: 2.75em;
      padding-bottom: 0.15em; }
    #index #landing-splash #ls-3 {
      font-size: 5em; } }
  @media only screen and (min-width: 601px) and (max-width: 900px) {
    #index #landing-splash #ls-1 {
      font-size: 3.5em; }
    #index #landing-splash #ls-2 {
      font-size: 4.00em;
      padding-bottom: 0.15em; }
    #index #landing-splash #ls-3 {
      font-size: 6.75em; } }
  @media only screen and (min-width: 901px) {
    #index #landing-splash #ls-1 {
      font-size: 4.5em; }
    #index #landing-splash #ls-2 {
      font-size: 5.00em;
      padding-bottom: 0.15em; }
    #index #landing-splash #ls-3 {
      font-size: 7.75em; } }

@media only screen and (min-width: 768px) {
  #index main {
    position: static;
    height: auto;
    background: none; }

  #video {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -10; }

  .video {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); } }
/***************************************
 *************   DASHBOARD  ************
 ***************************************/
#results .display-bg {
  z-index: -10;
  background-color: #B905D2;
  position: absolute;
  top: 72px;
  height: 60px;
  width: 100%; }
#results .display {
  margin-top: 72px;
  display: table;
  width: 100%; }
  #results .display .header-group {
    display: table-header-group;
    width: 100%;
    height: 60px; }
  #results .display .header-cell {
    display: table-cell;
    font-size: 1.5em;
    font-weight: bold;
    color: #FFF;
    height: 60px;
    vertical-align: middle;
    text-align: center; }
  #results .display .row-group {
    display: table-row;
    height: 40px; }
  #results .display .row-cell {
    display: table-cell;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    vertical-align: middle; }

@media only screen and (min-width: 768px) {
  #results {
    position: relative; }
    #results .display {
      margin-top: 0px;
      max-width: 375px;
      margin-right: auto;
      margin-left: auto; } }
#quiz {
  width: 100%;
  text-overflow: wrap;
  box-sizing: border-box; }
  #quiz main {
    margin-top: 72px; }
  #quiz .btn-wrapper {
    width: 100%;
    text-align: center; }
    #quiz .btn-wrapper .btn-quiz {
      margin-top: 1em;
      font-size: 2em;
      letter-spacing: 2px; }
  #quiz #quiz-end {
    text-align: center;
    font-color: #B905D2; }
  #quiz #scoreboard {
    background-color: #62278d;
    display: table;
    height: 60px;
    width: 100%; }
    #quiz #scoreboard #progress,
    #quiz #scoreboard #score {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      line-height: 2em; }
      #quiz #scoreboard #progress h2,
      #quiz #scoreboard #score h2 {
        margin: 0;
        font-size: 1em;
        color: #FFF; }
  #quiz .quiz-form {
    height: auto;
    width: 100%; }
    #quiz .quiz-form .quiz-question {
      margin: 0;
      padding: 1em;
      background-color: #B905D2;
      font-size: 18px;
      color: #FFF; }
    #quiz .quiz-form ul.quiz-options {
      list-style: none;
      margin: 0;
      padding: 0;
      overflow: visible; }
      #quiz .quiz-form ul.quiz-options li.quiz-option {
        position: relative;
        display: block;
        float: left;
        width: 100%;
        height: 100%;
        color: #62278d;
        border-bottom: 1px solid #62278d; }
        #quiz .quiz-form ul.quiz-options li.quiz-option input[type=checkbox] {
          position: absolute;
          visibility: hidden;
          left: 0;
          width: 100%;
          height: 100%;
          margin: 0; }
        #quiz .quiz-form ul.quiz-options li.quiz-option input[type=radio] {
          position: absolute;
          visibility: hidden;
          width: 100%;
          height: 100%;
          margin: 0; }
        #quiz .quiz-form ul.quiz-options li.quiz-option label {
          display: block;
          position: relative;
          height: 100%;
          font-weight: 300;
          font-size: 1em;
          padding: 10px 10px 10px 55px;
          margin: auto;
          z-index: 9;
          -webkit-transition: all 0.25s linear; }
        #quiz .quiz-form ul.quiz-options li.quiz-option .check {
          display: block;
          position: absolute;
          border: 3px solid #62278d;
          border-radius: 0%;
          height: 25px;
          width: 25px;
          top: 50%;
          transform: translateY(-50%);
          left: 10px;
          z-index: 5;
          transition: border .25s linear;
          -webkit-transition: border .25s linear; }
        #quiz .quiz-form ul.quiz-options li.quiz-option .check::before {
          display: block;
          position: absolute;
          content: '';
          border-radius: 0;
          height: 15px;
          width: 15px;
          top: 5px;
          left: 5px;
          margin: auto;
          transition: background 0.25s linear;
          -webkit-transition: background 0.25s linear; }
      #quiz .quiz-form ul.quiz-options li:hover .check,
      #quiz .quiz-form ul.quiz-options input[type=checkbox]:checked ~ .check,
      #quiz .quiz-form ul.quiz-options input[type=radio]:checked ~ .check {
        border: 5px solid #B905D2; }
      #quiz .quiz-form ul.quiz-options input[type=checkbox]:checked ~ .check::before,
      #quiz .quiz-form ul.quiz-options input[type=radio]:checked ~ .check::before {
        background: #B905D2; }
      #quiz .quiz-form ul.quiz-options li:hover label,
      #quiz .quiz-form ul.quiz-options input[type=checkbox]:checked ~ label,
      #quiz .quiz-form ul.quiz-options input[type=radio]:checked ~ label {
        color: #B905D2; }
  #quiz #test ul li .check,
  #quiz #test ul li .check::before {
    border-radius: 100%; }

@media screen and (min-width: 768px) {
  #quiz main {
    margin-top: 0; }

  #quiz #scoreboard {
    margin-top: -5px;
    font-size: 1.5em; }

  .quiz-question {
    text-align: center; }

  #quiz .quiz-form ul.quiz-options {
    width: 768px;
    margin: 1em auto; }

  #quiz .btn-wrapper {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -75%); } }

/*# sourceMappingURL=style.css.map */
