@font-face {
	font-family: 'wizard-magic';
	src: url('../../fonts/wizard-magic.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'witch-magic';
	src: url('../../fonts/witch-magic.ttf');
	font-weight: normal;
	font-style: normal;
}

$font-wizard: 'wizard-magic';
$font-witch: 'witch-magic';

$color-light: #B905D2;
$color-dark: #4B05B4;
$color-spell: #FFF;
$color-good: green;
$color-evil: red;


html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body > * {
	color: darkviolet;
}

header {
	height: 100px;
}

.hidden {
	display: none;
}