@import url('https://fonts.googleapis.com/css?family=Merienda+One|Merienda:700|Open+Sans|Roboto:900');

//font-family: 'Roboto', sans-serif;
//font-family: 'Open Sans', sans-serif;
//font-family: 'Merienda', cursive;
//font-family: 'Merienda One', cursive;

@font-face {
	font-family: 'wizard-magic';
	src: url('../../fonts/wizard-magic.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'witch-magic';
	src: url('../../fonts/witch-magic.ttf');
	font-weight: normal;
	font-style: normal;
}

$font-wizard: 'wizard-magic';
$font-witch: 'witch-magic';

$color-light: #B905D2;
$color-dark: #4B05B4;
$color-spell: #BBB;
$color-good: green;
$color-evil: red;

$bp-small: "only screen and (max-width: 767px)";
$bp-medium: "only screen and (min-width: 768px) and (max-width: 1023px)";
$bp-large: "only screen and (min-width: 1024px)";

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: url('../images/bg.jpg') no-repeat center center;
	z-index: -50;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#contribute,
#about,
#dashboard,
#contact {
	color: $color-spell;
}

header {
	height: 100px;
	z-index: -50;
}

.hidden {
	display: none;
}