.btn {
  background: #b64ce0;
  background: -webkit-linear-gradient(top, rgba(185, 5, 210, 0.3), rgba(75, 5, 180, 0.3));
  background: -moz-linear-gradient(top, rgba(185, 5, 210, 0.3), rgba(75, 5, 180, 0.3));
  background: -ms-linear-gradient(top, rgba(185, 5, 210, 0.3), rgba(75, 5, 180, 0.3));
  background: -o-linear-gradient(top, rgba(185, 5, 210, 0.3), rgba(75, 5, 180, 0.3));
  background: linear-gradient(to bottom, rgba(185, 5, 210, 0.3), rgba(75, 5, 180, 0.3));
  
	-webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
	border: solid #4b2657 1px;
	
  -webkit-box-shadow: 0.5px 0.5px 3px #ab83ab;
  -moz-box-shadow: 0.5px 0.5px 3px #ab83ab;
  box-shadow: 0.5px 0.5px 3px #ab83ab;
  
	padding: 5px 15px;
	color: #FFF;
	font-family: $font-wizard;
	font-size: 24px;
	text-decoration: none;
}

.btn:hover {
  background: #d645d6;
  background: -webkit-linear-gradient(top, rgba(200, 5, 225, 0.6), rgba(60, 5, 97, 0.6));
  background: -moz-linear-gradient(top, rgba(200, 5, 225, 0.6), rgba(60, 5, 97, 0.6));
  background: -ms-linear-gradient(top, rgba(200, 5, 225, 0.6), rgba(60, 5, 97, 0.6));
  background: -o-linear-gradient(top, rgba(200, 5, 225, 0.6), rgba(60, 5, 97, 0.6));
  background: linear-gradient(to bottom, rgba(200, 5, 225, 0.6), rgba(60, 5, 97, 0.6));
  text-decoration: none;
}

.btn-success {
	background: #b64ce0;
}

.btn-success:hover {
	background: darkgreen;
}

.btn-cancel {
	background: #d645d6;
}

.btn-cancel:hover {
	background: darkred;
}