.btn {
  background: #b64ce0;
  background: -webkit-linear-gradient(top, rgba(195, 52, 217, 0.5), rgba(143, 52, 217, 0.5));
  background: -moz-linear-gradient(top, rgba(195, 52, 217, 0.75), rgba(143, 52, 217, 0.75));
  background: -ms-linear-gradient(top, rgba(195, 52, 217, 0.75) rgba(143, 52, 217, 0.75));
  background: -o-linear-gradient(top, rgba(195, 52, 217, 0.75), rgba(143, 52, 217, 0.75));
  background: linear-gradient(top, rgba(195, 52, 217, 0.0), rgba(143, 52, 217, 0.0));
  
	-webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
	
  -webkit-box-shadow: 3px 3px 3px violet;
  -moz-box-shadow: 3px 3px 3px #ab83ab;
  box-shadow: 3px 3px 3px #ab83ab;
  
	font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #4b2657 1px;
  text-decoration: none;	
}

.btn:hover {
  background: #ae27e8;
  background-image: -webkit-linear-gradient(top, #ae27e8, #520073);
  background-image: -moz-linear-gradient(top, #ae27e8, #520073);
  background-image: -ms-linear-gradient(top, #ae27e8, #520073);
  background-image: -o-linear-gradient(top, #ae27e8, #520073);
  background-image: linear-gradient(to bottom, #ae27e8, #520073);
  text-decoration: none;
}