/***************************************
 *************   LANDING   *************
 ***************************************/ 

.fullscreen-bg {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: -10;
}

.fullscreen-bg__video {
	position: absolute;
	top: 50%;
	left: 50%;
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 100%;
	-webkit-transform: translate(-50%, -50%);
		 -moz-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
	.fullscreen-bg {
		background: url('../images/magicbook.png') center center / cover no-repeat;
	}

	.fullscreen-bg__video {
		display: none;
	}
}

#landing h1 {
	position: relative;
	margin-top: 10px;
	margin-bottom: 15px;
	font-family: $font-wizard, Verdana, sans-serif;
  font-size: 125px;
	text-align: center;
  }


#landing h1 div {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#B905D2), to(#4B05B4));
//	background-image: -webkit-gradient(linear, top, bottom, from(#B905D2), to(#4B05B4)); --> can make this black and then change the color to purple after the letters highlight the text........ohhhh cool!
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute; 
    width: 100%;
}

#landing h1:after {
    text-shadow: 2px 2px 2px #000000;
    color: transparent;
}

#landing .gradient-shadow:after {
    content: attr(title); /* Pulls the text from the 'title' attribute to make the shadow */
}

#landing .landingTwo {
	font-family: $font-witch, Verdana, sans-serif;
}