/***************************************
 *************   NAV MAIN  *************
 ***************************************/

.open {
  margin-bottom: 220px;
}

#nav-logo img {
  width: 185.5px;
  padding: 7.5px 20px;
}

.hamburger,
.cross {
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 25px 30px;
  border: 0;
  color: $color-light;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 1000;
}

.hamburger {
  font-size: 2.25em;
}

.cross {
  font-size: 5em;
}

#nav-menu {
  z-index: 100;
  font-weight: bold;
  font-size: 0.8em;
  width: 100%;
  text-align: center;
}

#nav-menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
  background: #b64ce0;
  background: -webkit-linear-gradient(top, rgba(185, 5, 210, 0.3), rgba(75, 5, 180, 0.3));
  background: -moz-linear-gradient(top, rgba(185, 5, 210, 0.3), rgba(75, 5, 180, 0.3));
  background: -ms-linear-gradient(top, rgba(185, 5, 210, 0.3), rgba(75, 5, 180, 0.3));
  background: -o-linear-gradient(top, rgba(185, 5, 210, 0.3), rgba(75, 5, 180, 0.3));
  background: linear-gradient(to bottom, rgba(185, 5, 210, 0.3), rgba(75, 5, 180, 0.3));
}

#nav-menu li {
  display: block;
  font-size: 30px;
  letter-spacing: 3px;
}

#nav-menu ul li a {
  display: block;
  text-decoration: none;
  padding: 10px 0;
  color: $color-spell;
}

#nav-menu ul li a:hover {
  color: $color-light;
  text-decoration: none;
}

@media all and (min-width: 900px) {
  .hamburger,
  .cross {
    display: none;
  }
  
  #nav-logo img {
  width: 200px;
  padding: 7.5px 20px;
}
  
  #nav-logo,
  #nav-menu {
    display: inline-block;
  }
  
  #nav-menu {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    height: 106px;
    width: auto;
  }
  
  #nav-menu ul {
    margin: 0;
    padding: 36px 20px 36px 0px;
    background: none;
  }

  #nav-menu li {
    display: inline-block;
      font-size: 24px;
  }

  #nav-menu ul li a {
    display: inline-block;
    padding: 0 20px;
  }
}