/***************************************
 ***************   QUIZ  ***************
 ***************************************/

.question {
	width: 700px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}