@import url('https://fonts.googleapis.com/css?family=Merienda+One|Merienda:700|Open+Sans|Roboto:900');

//font-family: 'Roboto', sans-serif;
//font-family: 'Open Sans', sans-serif;
//font-family: 'Merienda', cursive;
//font-family: 'Merienda One', cursive;

@font-face {
	font-family: 'wizard-magic';
	src: url('../../fonts/wizard-magic.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'witch-magic';
	src: url('../../fonts/witch-magic.ttf');
	font-weight: normal;
	font-style: normal;
}

$font-wizard: 'wizard-magic';
$font-witch: 'witch-magic';

$color-light: #2fb89a;
$color-good: #B905D2;

$color-dark: #62278d;
$color-evil: #4B05B4;

$color-white: #FFF;
$color-gray: #DDD;
$color-fade: #333;

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body > * {
  font-family: 'Roboto', sans-serif;
}

body {
  background: $color-fade;
}

.hidden {
	display: none;
}