@import url('https://fonts.googleapis.com/css?family=Merienda+One|Merienda:700|Open+Sans|Roboto');

//font-family: 'Roboto', sans-serif;
//font-family: 'Open Sans', sans-serif;
//font-family: 'Merienda', cursive;
//font-family: 'Merienda One', cursive;

@font-face {
	font-family: 'wizard-magic';
	src: url('../../fonts/wizard-magic.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'witch-magic';
	src: url('../../fonts/witch-magic.ttf');
	font-weight: normal;
	font-style: normal;
}

$font-wizard: 'wizard-magic';
$font-witch: 'witch-magic';

$font-base: 'Merienda', cursive;
$font-accent: 'Merienda One', cursive;
$font-size: 16px;
$font-line-height: 1.5;

$color-light: #B905D2;
$color-dark: #62278d;
$color-evil: #4B05B4;

$color-yellow: #C1DD4D;
$color-green: #6FD800;
$color-blue: #2fb89a;

$color-white: #FFF;
$color-gray: #DDD;
$color-fade: #333;

html,
body {
  min-height: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
  background: $color-gray;
  font-size: $font-line-height;
}

header {
  background-color: $color-fade;
}

#index header {
  background-color: black;
}

body > * {
  font-family: 'Roboto', sans-serif;
}

.hidden {
	display: none;
}
