.btn {
  border-radius: 10px;
	border: solid #4b2657 1px;
  box-shadow: 2px 2px 4px $color-fade;
  color: $color-white;
	font-size: 1.5em;
	text-decoration: none;
	padding: 5px 15px;
}

.btn a {
  color: $color-white;
  text-decoration: none;
}
  
.btn {
  background: #b64ce0;
  background: -webkit-linear-gradient(top, $color-light, $color-dark);
  background: -moz-linear-gradient(top, $color-light, $color-dark);
  background: -ms-linear-gradient(top, $color-light, $color-dark);
  background: -o-linear-gradient(top, $color-light, $color-dark);
  background: linear-gradient(to bottom, $color-light, $color-dark);
}

.btn:hover {
  box-shadow: 2px 2px 4px $color-evil;
  color: $color-gray;
}