/***************************************
 *************   DASHBOARD  ************
 ***************************************/

#results {

  .results-top {
    height: 60px;
    width: 100%;
    background-color: $color-light;
  }

  .results-wrapper {
    max-width: 375px;
    margin-top: -60px;
    margin-right: auto;
    margin-left: auto;
  }

  table {
    border-collapse: collapse;
    border-spacing: none;
    border-color: none;
    width: 100%;

    .header-group {
      height: 60px;
    }

    .header-cell {
      display: inline-block;
      font-size: 1.5em;
      font-weight: bold;
      color: $color-white;
      padding: 15.5px;
      text-align: center;
    }

    .row-cell {
      display: inline-block;
      padding: 10px;
      font-size: 1em;
      font-weight: bold;
      text-align: center;
      vertical-align: middle;
    }
  } // End of results-display
} // End of results

//   .display-bg {
//     background-color: $color-light;
//     height: 60px;
//     width: 100%;
//
//     ul {
//       width: 375px;
//       margin: 0 auto;
//       padding: 0;
//       list-style-type: none;
//       text-align: center;
//
//       li {
//         display: inline-block;
//         padding: 20px 40px;
//         color: white;
//         font-weight: bold;
//         font-size: 20px;
//       }
//     }
//   }
//
//   .display {
//     // margin-top: -60px;
//   }
//

//
//
//
// @media only screen and (min-width: 768px) {
//
//   #results {
//     // position: relative;
//
//     .display {
//       // margin-top: -60px;
//       // // max-width: 400px;
//       // margin-right: auto;
//       // margin-left: auto;
//     } // End of results-display
//   } // End of results
// }
