#start .splash {
  background: url('../images/castle-knight.jpg') no-repeat top center;
  background-size: cover;
}

#about .splash {
  background: url('../images/castle-hall.jpg')
   no-repeat top center;
  background-size: cover;
}

#contact .splash {
  background: url('../images/magical-forest.jpg') no-repeat center center;
  background-size: cover;
}

#contribute .splash {
  background: url('../images/witch.jpg')
   no-repeat center center;
  background-size: cover;
}