/***************************************
 *************   DASHBOARD  ************
 ***************************************/

#dashboard {
  
  main {
    margin-top: 72px;
  }
}
.table {
	width: 25%;
	margin-left: auto;
	margin-right: auto;
	border: 3px $color-white solid;
}

.table .thead {
	display: table-header-group;
	background-color: $color-white;
}

.table .th {
	display: table-cell;
	padding: 10px;
	font-size: 18px;
	font-weight: bold;
	color: $color-white;
}

.table .tr {
	display: table-row;
}

.table .td {
	display: table-cell;
	padding: 10px;
	font-size: 18px;
	font-weight: bold;
}