main {
  height: 100%;
  margin: 0;
  padding: 0;
  color: $color-dark;
}

main h1 {
  margin: 0;
}

.splash {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}

.splash-overlay {
  height: 100%;
  margin: 0;
  padding: 0;
//  background: rgba(200, 200, 200, 0.4);
}

.splash-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%); /* IE 9 */
  -webkit-transform: translate(-50%, -50%); /* Safari */
  transform: translate(-50%, -50%);
  width: auto;
  text-align: center;
  font-family: $font-accent;
  letter-spacing: 3px;
  color: #000;
  font-size: 3.5em;
  text-shadow: -2px -2px 4px $color-dark,
    2px 2px 4px $color-light;
}

.splash-content span {
  display: block;
}

.content {
  padding: 15px;
  color: $color-dark;
}

.textarea {
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
  font-family: sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

@media only screen and (min-width: 768px) {
  
  .splash {
    height: calc(100% - 300px);
  }
  
  .introduction {
    height: 200px;
    padding: 14px;
    background-color: $color-fade;
    color: $color-white;
  }
  
  .introduction h1 {
    font-family: 'Merienda One', cursive;
    text-align: center;
  }
}